@import "../style/variables";
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10000;
  background-color: white;
}

.tigerPhoto {
  position: absolute;
  top: 2rem;
  right: 25vw;
  width: 50vw;
  height: 50vw;
  max-width: 300px;
  max-height: 300px;
  background-color: white;
  background-image: url("../images/tiger-books.jpeg");
  background-size: contain;
  background-position: center;
  border-radius: 25vmin;
}

.pageContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: $sans-serif;
  padding-bottom: 1.5rem;
}

.menuHeader {
  padding: calc(50vmin + 3.5rem) 0.5rem 1rem 0.5rem;
  h1 {
    margin-bottom: 1.33rem;
    font-weight: 700;
  }
  p:nth-child(3) {
    margin-bottom: 1rem;
  }
  nav {
    margin-bottom: 0.5rem;
  }
}

.menuLink {
  margin-bottom: 0.5rem;
  display: block;
}

.name {
  &:nth-child(2) {
    margin-bottom: 0.25rem;
  }
}

.mainContent {
  width: 100%;
  flex-grow: 1;
}

.imageWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  img {
    height: 100%;
    width: auto;
    position: absolute;
    left: -9999px;
    right: -9999px;
    bottom: 0;
    margin: auto;
  }
}

.list {
  margin-left: 0.5rem;
  & > li {
    margin-bottom: 0.5rem;
    line-height: 130%;
  }
}

.listTitle {
  margin-left: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

@media all and (min-width: $breakpoint-med) {
  .pageContainer {
    padding: 1rem;
  }
  .menuHeader {
    padding-top: 0.5rem;
  }
  .tigerPhoto {
    top: 1.5rem;
    right: 1.5rem;
  }
  .imageWrapper {
    img {
      top: -9999px;
      bottom: -9999px;
      width: 100%;
      height: auto;
    }
  }
}
